<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flexbox ile Layout Tasarımı</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h3>Lorem ipsum.</h3>
        <p>Lorem ipsum dolor.</p>
    </header>
    <nav>
        <ul class="flex-ul">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="container-inner">
            <section id="section-a">
                <h2>Lorem ipsum.</h2>
                <div class="a-img">
                    <p>image</p>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam officiis, perferendis doloribus itaque tempora veniam maiores saepe enim blanditiis! Sapiente.
                </p>
            </section>
            <section id="section-b">
                <h2>Lorem ipsum.</h2>
                <div class="b-img">
                    image
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, velit.</p>
            </section>
        </div>
        <div class="container-inner">
            <section id="section-a">
                <h2>Lorem ipsum.</h2>
                <div class="a-img">
                    <p>image</p>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam officiis, perferendis doloribus itaque tempora veniam maiores saepe enim blanditiis! Sapiente.
                </p>
            </section>
            <section id="section-b">
                <h2>Lorem ipsum.</h2>
                <div class="b-img">
                    image
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, velit.</p>
            </section>
        </div>
    </div>
    <footer>
        <div>Develop Your Dreams</div>
        <div>Design by <a href="http://www.harundogdu.com.tr/" target="_blank">Harun Doğdu</a> | All Rights Resserved © 2020</div>
    </footer>
</body></html>